.cate-list-page {
    // height: 100%;
}
.demo-row {
    margin: 10px 0;
    // height: 100%;
}
.demo-col {
    // margin:10px;
}
.demo-col-inset {
    min-height: 100%;
    border-left:1px solid #CCC;
    // border-top-left-radius: 3px;
    background-color:#fff;
}
.demo-col-left {
    // min-height: 100%;
    width: 100%;
    // border-top-left-radius: 3px;
    background-color:#fff;
    padding: 20px 20px 0 20px;
    overflow: auto;
}